%h1 Welcome to Gitology

%p Gitology is a collection of clearly-written guides that teach you how to use Git effectively whether you're a beginner, have some experience, or are an expert. Gitology's guides are written by Brian Tanaka--author of articles for Linux Journal, LinuxWorld, and other publications.

%h1 Chapters

%p
  %ul.chapterlist
    %li Introduction
    %li What is Git?
    %li The Benefits of Using Git
    %li Key Concepts
    %li A Simple, Hands-on Example
    %li Typical Daily Workflow
    %li
      %a(href="/chapter/branching-basics") Branching Basics
    %li
      %a(href="/chapter/recipes") Useful Git Recipes
    %li
      %a(href="/chapter/about") About this site

%p
  Note that some of the material here is based on my
  %a(href="https://github.com/btanaka/Git-Tutorial-One") Git Tutorial.

%h1 Stuff

%p
  %ul.chapterlist
    %li
      %a(href="http://twitter.com/gitology") twitter.com/gitology
    %li
      %a(href="http://identi.ca/gitology") identi.ca/gitology
    %li
      %a(href="http://git.or.cz/") Official Git Site
    %li
      %a(href="irc://irc.freenode.net/#git") #git on Freenode
    %li
      %a(href="http://github.com/") Secure Git hosting and collaborative development
    %li
      %a(href="http://gitready.com/") git ready




