

%h1 Welcome to Gitology

%p Gitology is a collection of clearly-written guides that teach you how to use Git effectively whether you're a beginner, have some experience, or are an expert. Gitology's guides are written by Brian Tanaka--author of articles for Linux Journal, LinuxWorld, and other publications.

