!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}

%head
  %title= TITLE
  %link{:rel=>'stylesheet', :href => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css', :type => 'text/css'}
  %link{:rel=>'stylesheet', :href=>'/main.css', :type => "text/css"}
  %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js', :type => 'text/javascript', :charset => 'utf-8' }
  %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js', :type => 'text/javascript', :charset => 'utf-8' }
  
  -#:javascript
  <script>
  $(document).ready(function() {
  $("#accordion").accordion();
  });
  </script>
  
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24965863-1']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>


%body

  #container

    #banner
      %a(href="/")
        %img{:src => '/gears2withwords.go3.80.png'}
    #tagline
      A wealth of knowledge about Git &mdash; an open source version control system

    #contentcontainer
      =yield  
    
    #footer
      %p
        %img{:src => '/button.gitmanaged.png'}
      %p
        Contact: brian at gitology dot com - 
        Github:
        %a(href="https://github.com/btanaka/Gitology") https://github.com/btanaka/Gitology
      
      
